configuration {
    modi: "window,drun,run,ssh";
    font: "mono 12";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    disable-history: false;
    sidebar-mode: false;
    cycle: true;
    case-sensitive: false;
    matching: "fuzzy";
    scroll-method: 0;
    click-to-exit: true;
}

@theme "/usr/share/rofi/themes/material.rasi"
