window#waybar {
    background: transparent;
}

#window,
#workspaces,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#network,
#tray,
#custom-notification,
#clock,
#battery {
    background-color: #05080f;
    color: #b3b1ad;
    border: 2px solid #005699;
    border-radius: 8px;
    padding: 0px 10px;
    margin: 4px 2px;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#workspaces { padding: 0px 6px; }
#workspaces button { color: #4a5a75; padding: 0px 8px; }
#workspaces button.active { color: #00aaff; background: transparent; }
#clock { color: #ffffff; border-color: #007acc; }
#window { margin-left: 0px; }
#tray { padding: 0px 10px; }
#memory { margin: 4px 6px; padding: 0 8px; }

#custom-shutdown:hover { background-color: #f38ba8; color: #11111b; }
#custom-reboot:hover { background-color: #fab387; color: #11111b; }
#custom-logout:hover { background-color: #f9e2af; color: #11111b; }
#custom-wallpaper:hover { background-color: #c9a063; color: #05080f; }

#custom-shutdown,
#custom-reboot,
#custom-logout,
#custom-wallpaper {
    background-color: #05080f;
    color: #b3b1ad;
    border: 2px solid #005699;
    border-radius: 8px;
    padding: 0px 10px;
    margin: 4px 2px;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#battery.warning { color: #f9e2af; }
#battery.critical { color: #f38ba8; }
#battery.charging { color: #00cca7; }
